## filetypes
filetype = name=diffout_2
filetype = comment=Input file for filter
filetype = arg_name=--infile

filetype = name=fout
filetype = comment= Intermediate data pass to perm cluster
filetype = arg_name=--outfile

filetype = name=foutplus
filetype = comment= Additional output data
filetype = arg_name=--settings outtxt

filetype = name=log
filetype = comment=Log file 
filetype = arg_name=--logfile

#extension
extension = filetype=diffout_2
extension = ext=txt

extension = filetype=fout
extension = ext=txt

extension = filetype=foutplus
extension = ext=txt

extension = filetype=log
extension = ext=txt

# analysis
name = Filter
cmdstr = analysis/Rwrapper.cgi --kind filter_2
version = 2 
an_type = filter
current = 0


#analysis_filetypes_link
analysisfile = filetype=diffout_2
analysisfile = input =1

analysisfile = filetype=fout
analysisfile = input =0

analysisfile = filetype=foutplus
analysisfile = input =0


analysisfile = filetype=log
analysisfile = input =0

#user_parameter_names
up = name=--settings condsComp
up = display_name = Select two conditions to compare:
up = type=condsSelect

up = name = --settings annotation
up = display_name = Annotation:
up = type=heading
up = optional = 1

up = name =--settings genesymbol
up = display_name = Gene symbol
up = type=checkbox
up = default=1
up = optional = 1

up = name =--settings genename
up = display_name = Gene name
up = type=checkbox
up = default=1
up = optional = 1

up = name =--settings unigene
up = display_name = UniGene ID
up = type=checkbox
up = default=1
up = optional = 1

up = name =--settings locusid
up = display_name = LocusID
up = type=checkbox
up = default=1
up = optional = 1

up = name =--settings chrloc
up = display_name = Chromosome location
up = type=checkbox
up = default=1
up = optional = 1

up = name =--settings go
up = display_name = Gene Ontology
up = type=checkbox
up = default=1
up = optional = 1

up = name =--settings filter1
up = display_name =First Filtering:
up = type=radio *None*Fold of LogFC*t-test p-value*Permutation test p-value*LPE p-value*LPE FDR*SAM q-value
up = default=LPE p-value

up = name =--settings filtervalue1
up = display_name = Cutoff value:
up = type=text
up = default=0.05

up = name =--settings filter2
up = display_name = Second Filtering:
up = type=radio *None*Fold of LogFC*t-test p-value*Permutation test p-value*LPE p-value*LPE FDR*SAM q-value
up = default=None

up = name =--settings filtervalue2
up = display_name = Cutoff value:
up = type=text
up = default=0.05

up = name =--settings filterfunc
up = display_name =Functional Filtering:
up = type=text
up = default=
up = optional=1

up = name =--settings maxrows
up = display_name = Maximum number of rows to return
up = type=text
up = default=1000

up = name =--settings columnorder
up = display_name = Condition order:
up = type=condsText
up = optional=1

up = name=--settings outtxt
up = display_name = Addtional output filename (no extension)
up = type=file
up = default=foutplus.txt

up = name=--outfile
up = display_name = Intermediate data filename (no extension)
up = type=file
up = default=fout.txt


up = name=--logfile
up = display_name = Log filename (no extension)
up = type=file
up = default=flog.txt


#sys_parameter_names
sp = name=--email
sp = optional=1

sp = name=--fileURI
sp = optional=1

sp = name=--settings path

sp = name=--infile

sp = name=--settings conds

sp = name=--settings condLabels

sp = name=--settings chipType

